* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.background-image {
    position: fixed; /* Fixar a imagem na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagens/img2.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}
